.topnav {
    background-color: grey;
    overflow: hidden;
    height: 70px;
   
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-family: sans-serif;
  }

  .topnav-right {
    float: right;
    position: relative;
    vertical-align: middle;
  }

  .topnav a.active {
      font-size: 35px;
      font-family: sans-serif;
      
  }

  .banner {
      background-color: black;
    height: 400px;
  }

  .bannertext {
      margin: 0;
      padding: 120px 245px;
    font-size: 100px;
    color: #F6F49E;
    text-align: center;
    vertical-align: middle;
    line-height: 400px; 

  }

  .square{
    width: 250px;
    height: 250px;
    Background-color: #A4FED8;
    padding: 75px;
    border-radius: 25px;
    display: inline-block;
    justify-content: center;
}

.rectangle{
    width: 450px;
    height: 250px;
    Background-color: #FFC36B;
    padding: 75px;
    border-radius: 25px;
    display: inline-block;
    justify-content: center;
}

.text {
    width: 475px;
    height: 250px;
    padding: 35px;
    border-radius: 25px;
    display: inline-block;
    justify-content: center;
    font-family: sans-serif;
    font-size: 26px;
}

.image {
    width: 475px;
    height: 250px;
    padding: 35px;
    border-radius: 25px;
    display: inline-block;
    justify-content: center;
}
.block{
    background-color: white;
    padding-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.block2{
    background-color: white;
    padding-top: 100px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: 	#3A3A56;
    height: 75px;
}